.nav-container {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  max-width: 350px;
  margin: 0 auto;
  /* background: rgba(73, 73, 73, 0.686); */
  background: rgba(51, 51, 51, 0.557);
  border: thin solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  padding: 0.3rem 0.4rem;
  /* backdrop-filter: blur(1px); */
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  a {
    /* margin: 0;
    padding: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* border: thin solid $grey; */
    padding: 0.5rem;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    /* background: $grey; */
    text-decoration: none;
    transition: all 0.5s ease-in;
  }

  i {
    color: $grey;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    transition: font-size 0.3s ease-in;
  }

  &:hover .modal {
    display: block;
  }
}

.modal {
  display: none;
  position: absolute;
  top: -45px;
  text-align: center;
  background: $grey;
  padding: 0.4rem 1rem;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.9);
}

.active {
  background: darken($fuschia, 5) !important;
  border: thin solid $grey;
  /* box-shadow: 0 0 5px $grey; */
  i {
    color: $grey !important;
    font-size: 1.3rem !important;
    /* margin-top: -3px; */
  }
}

@include mobile {
  .nav-container {
    max-width: 280px;
    padding: 0.5rem;
    margin: 0 auto;
  }

  .container {
    a {
      padding: 1rem;

      i {
        font-size: 1.1rem;
      }
    }
  }

  .modal {
    font-size: 1.1rem;
    top: -55px;
  }

  .active {
    i {
      font-size: 1.2rem !important;
    }
  }
}
@include tablet-horizontal {
  .nav-container {
    max-width: 500px;
    padding: 0.5rem;
  }

  .container {
    a {
      padding: 1.7rem;

      i {
        font-size: 1.5rem;
      }
    }
  }

  .modal {
    font-size: 1.5rem;
    top: -55px;
  }

  .active {
    i {
      font-size: 1.5rem !important;
    }
  }
}
@include tablet {
  .nav-container {
    max-width: 600px;
    padding: 0.9rem;
  }

  .container {
    a {
      padding: 2.2rem;

      i {
        font-size: 1.8rem;
      }
    }
  }

  .modal {
    font-size: 2rem;
    top: -75px;
  }

  .active {
    i {
      font-size: 1.8rem !important;
    }
  }
}
@include laptop {
  .nav-container {
    max-width: 380px;
    padding: 0.3rem;
  }

  .container {
    a {
      padding: 1.2rem;

      i {
        font-size: 1.3rem;
      }
    }
  }

  .modal {
    font-size: 1rem;
    top: -45px;
  }

  .active {
    i {
      font-size: 1.3rem !important;
    }
  }
}
@include laptop-middle {
  .nav-container {
    max-width: 450px;
    padding: 0.4rem;
  }

  .container {
    a {
      padding: 1.5rem;

      i {
        font-size: 1.5rem;
      }
    }
  }

  .modal {
    font-size: 1.5rem;
    top: -58px;
  }

  .active {
    i {
      font-size: 1.3rem !important;
    }
  }
}
@include desktop {
  .nav-container {
    max-width: 600px;
    padding: 0.5rem;
  }

  .container {
    a {
      padding: 2.5rem;

      i {
        font-size: 2rem;
      }
    }
  }

  .modal {
    font-size: 1.7rem;
    top: -65px;
  }

  .active {
    i {
      font-size: 2rem !important;
    }
  }
}

@include desktop-big {
  .nav-container {
    width: 95% !important;
    max-width: 700px !important;
    padding: 0.4rem !important;
  }

  .container {
    a {
      padding: 2.7rem;

      i {
        font-size: 2.5rem;
      }
    }
  }

  .modal {
    font-size: 2.2rem;
    top: -78px;
  }

  .active {
    i {
      font-size: 2.5rem !important;
    }
  }
}
