.services__container {
  width: 100%;
  color: $grey;
  padding: 1rem 0;
}

.services__container-info {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;
  margin-bottom: 3rem;

  h2 {
    text-align: center;
    font-size: 1.5rem;
    color: $fuschia;
  }

  .services__container-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    .services__card {
      position: relative;
      display: block;
      background: darken($fuschia, 15);
      width: 80%;
      height: 200px;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.3rem;
      border-radius: 10px;

      i {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 3rem;
        color: rgba(255, 255, 255, 0.5);
      }

      h3 {
        text-align: center;
      }
    }
  }
}

@include tablet-horizontal {
  .services__container {
    padding: 2rem;

    .services__container-info {
      padding: 1rem;
      width: 100% !important;
      margin-bottom: 2rem !important;

      i {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 4.5rem !important;
        color: rgba(255, 255, 255, 0.5);
      }

      h2 {
        font-size: 1.6rem;
      }

      .services__container-card {
        margin-bottom: 2rem;
        .services__card {
          width: 100%;
          font-size: 1.5rem;
          height: 250px;
        }
      }
    }
  }
}

@include tablet {
  .services__container {
    padding: 2rem;

    .services__container-info {
      padding: 1rem;
      width: 100% !important;

      i {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 4rem !important;
        color: rgba(255, 255, 255, 0.5);
      }

      h2 {
        font-size: 2rem;
      }

      .services__container-card {
        .services__card {
          width: 100%;
          font-size: 2rem;
          height: 250px;
        }
      }
    }
  }
}

@include laptop {
  .services__container {
    padding: 1rem;

    .services__container-info {
      padding: 1rem;
      width: 100% !important;

      i {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 4rem !important;
        color: rgba(255, 255, 255, 0.5);
      }

      h2 {
        font-size: 1.5rem !important;
      }

      .services__container-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .services__card {
          width: 100%;
          font-size: 1.3rem !important;
          height: 250px;
        }
      }
    }
  }
}

@include laptop-middle {
  .services__container {
    padding: 1rem;

    .services__container-info {
      padding: 1rem;
      width: 100% !important;
      display: flex;
      align-items: center;
      min-height: 80vh;

      i {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 5.5rem !important;
        color: rgba(255, 255, 255, 0.5);
      }

      h2 {
        font-size: 1.7rem !important;
      }

      .services__container-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .services__card {
          width: 100%;
          font-size: 1.4rem !important;
          height: 250px;
        }
      }
    }
  }
}
@include desktop {
  .services__container {
    padding: 2rem;

    .services__container-info {
      padding: 1rem;
      width: 100% !important;
      display: flex;
      align-items: center;
      min-height: 80vh;

      i {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 7rem !important;
        color: rgba(255, 255, 255, 0.5);
      }

      h2 {
        font-size: 2.3rem !important;
      }

      .services__container-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .services__card {
          width: 100%;
          font-size: 2rem !important;
          height: 250px;
        }
      }
    }
  }
}
@include desktop-big {
  .services__container {
    padding: 2.5rem;

    .services__container-info {
      padding: 1rem;
      width: 100% !important;
      display: flex;
      align-items: center;
      min-height: 80vh;

      i {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 9rem !important;
        color: rgba(255, 255, 255, 0.5);
      }

      h2 {
        font-size: 3rem !important;
      }

      .services__container-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .services__card {
          width: 100%;
          font-size: 2.7rem !important;
          height: 500px;
        }
      }
    }
  }
}
