.container-section {
  color: $grey;
  width: 100%;
}

.title {
  text-align: center;
  color: $grey;
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  min-height: 100%;

  section {
    flex-direction: column;
    padding: 2rem;
    width: 50%;
    height: 100vh;
    border: thin solid rgba(0, 0, 0, 0.2);

    h3 {
      text-align: center;
      font-size: 2rem;
      border-bottom: thin solid $grey;
      border-radius: 1px;
      margin-bottom: 1rem;
      color: $grey;
    }

    h4 {
      padding: 0.3rem;
      font-weight: 500;

      i {
        color: $fuschia;
        font-size: 1.1rem;
        margin-right: 0.3rem;
      }
    }
  }

  .section-frontend {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.45);
      z-index: -1;
    }
  }

  .section-backend {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.45);
      z-index: -1;
    }
  }
}

@include mobile {
  section {
    width: 100% !important;

    h3 {
      font-size: 2rem !important;
    }

    .section-skills {
      h4 {
        font-size: 1.8rem;

        i {
          font-size: 1.8rem;
        }
      }
    }
  }
}

@include tablet {
  section {
    width: 100% !important;

    h3 {
      font-size: 3rem !important;
    }

    .section-skills {
      h4 {
        font-size: 2.4rem;

        i {
          font-size: 2.4rem;
        }
      }
    }
  }
}

@include laptop {
  section {
    width: 50% !important;

    h3 {
      font-size: 2rem !important;
    }

    .section-skills {
      h4 {
        font-size: 1.3rem;

        i {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@include laptop {
  section {
    width: 50% !important;

    h3 {
      font-size: 2.2rem !important;
    }

    .section-skills {
      h4 {
        font-size: 1.3rem;

        i {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@include desktop {
  section {
    width: 50% !important;

    h3 {
      font-size: 2.8rem !important;
    }

    .section-skills {
      h4 {
        font-size: 2rem;

        i {
          font-size: 2rem;
        }
      }
    }
  }
}
@include desktop-big {
  section {
    width: 50% !important;

    h3 {
      font-size: 3.5rem !important;
    }

    .section-skills {
      h4 {
        font-size: 2.8rem;

        i {
          font-size: 2.8rem;
        }
      }
    }
  }
}
