* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  box-sizing: inherit;
  max-width: 1920px;
  margin: 0 auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 9px;
  }

  &::-webkit-scrollbar-button:increment,
  .contenedor::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(178, 172, 172);
    border-radius: 20px;
    border: 1px solid #0e0b16;
  }
}

body {
  background: #0e0b16;
}
